.wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #f5f5f5;
}

.root {
  min-height: 100vh;
  background: #f5f5f5;
  width: 100%;
}

.content {
  padding: 0;
  background: #f5f5f5;
  min-height: 100vh;
  width: 100%;
}

/* 移动端适配 */
@media (max-width: 768px) {
  .content {
    padding: 0;
  }
}

